.ResourceWar {
	display:flex;
	justify-content:center;
	align-items:center;

    --team-color:gray;
}
.ResourceWar .Course {
	background-color:white;
}
.ResourceWar .Component.Course {
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
}

[data-team="1"]{
    --team-color:lightgreen;
}
[data-team="2"]{
    --team-color:blue;
}
[data-team="3"]{
    --team-color:red;
}
[data-team="4"]{
    --team-color:gold;
}
[data-team="5"]{
    --team-color:violet;
}

.generator-inner {
	fill:var(--generator-inner-color);
}
.generator-outer {
	fill:var(--generator-outer-color);
}

.generator {
	--generator-outer-color:var(--team-color);
	--generator-inner-color:white;
}
.generator.selected {
	--generator-inner-color: gray;
}
.generator text {
    font-size: .15em;
    font-family: monospace;
}
.cursor {
	fill: none;
	stroke: black;
	stroke-width: .5;
}
.Package {
    fill:var(--team-color);
}
.List {
	margin:1em;
}
.List > div {
	border:.5ex solid white;
	border-radius: 1ex;
	background: chocolate;
	color: black;
	padding: .25ex .5ex;
	margin: .5ex;
	text-align: center;
}
.List > div.active {
	background-color: wheat;
	position:relative;
}
.List > div.active::before {
	content:"➩";
	position:absolute;
	right:calc(100% + 1ex);
	color: white;
}
.levelMenu {
	font-size:2em;
}
.mapEndScreen {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:black;
	padding:1ex;
	border-radius:1em;
	color:white;
	text-align:center;
}